.container{
    display: flex;
}
.card-container{
    width: 80%;
    display: grid;
    grid: 400px / auto auto;
    grid-gap: 100px;
    padding: 25px;
    border-right: 1px solid lightgrey;
}
.details-container{
    color: lightcoral;
    margin-top: 30px;
    padding:10px;
}